<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Browsershot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background">
    </div>
    <div class="background-border">
    </div>
    <div class="copyright">
      Photography and Design <br> &copy; 2020 Max Aubain all rights reserved
    </div>
    <div class="mobile">
      Browsershot is not currently available for mobile and tablet.
    </div>
    <div class="notice">
      <%= notice || alert %>
    </div>
    <div class="navigation">
      <% if !current_page?(root_path)%> 
        <%= link_to 'Home', root_path %> 
      <% else %>
        <%= link_to 'Visit Max', 'https://www.maxaubain.com/about'%>
      <% end %> 
    </div>
    <div class="content">
      <div class="title">
        Browsershot
      </div>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
