<!DOCTYPE html>
<html>
  <head>
    <title>Browsershot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background"></div>
      <div class="content">
        <%= notice || alert %><br>
        <%= yield %>
      </div>
  </body>
</html>
